extends ../templates/default/index

include ../components/header/_mixin
include ../components/button/_mixin
include ../components/footer/_mixin
include ../components/ul/_mixin
include ../components/component-preview/_mixin
include ../components/counter/_mixin

block vars
  - var title='c-counter - PDF AWESOME COMPONENTS'

block head_end
  link(rel="stylesheet" href="/css/style.css") 

block content
  +header()
  .c-pageHeader 
    .inner
      nav 
        ul
          li
            a(href='/index.html') MAIN PAGE
          li
            a(href='/docs.html') DOCS 
          li
            a(href='/components.html') COMPONENTS 

      .c-pageHeader__h1Wrap
        h1.
          c-counter 
  .c-block.c-block--compList
    .inner
      .c-block__wideColumn
        .c-comp
          .c-comp__borderedItem 
            h3.c-comp__header.
             c-counter 
          .c-comp__borderedItem 
            +counter()
          .c-comp__borderedItem 
            .c-comp__codeItemList
              .c-comp__codeItem
                .c-comp__codeLang PUG 
                .c-comp__code
                  div= '+counter()'

              .c-comp__codeItem
                iframe(style="width: 100%; height: 300px" src="http://jsfiddle.net/y4t6/z3tLaw2y/2/embedded/")
          .c-comp__borderedItem 
            a(href="https://github.com/y4t6/pdf-awesome-components/blob/master/dev/components/counter/style.scss") source style.scss
                
  +footer()
  
block body_end
  script(src="/js/app.js")
