mixin button(text, extra_classes)
    - var default_classes = 'c-button'
    if extra_classes
        - var classes = default_classes + ' ' + extra_classes
    else
        - var classes = default_classes

    button(class=classes) !{text}
