@import "../../sass/vars";

.c-goTopButton {
  background-color: $main-color; 
  width: 80px;
  height: 80px;
  border-radius: 80px;
  display: block;
  background-image: url('/img/design/arrow-top.png');
  background-repeat: no-repeat;
  background-position: center;
}
