extends templates/default/index
include components/button/_mixin
include components/document-item/_mixin

block head_end
  link(rel="stylesheet" href="/css/style.css") 

block content
  .c-main
    .c-buttonList
      .c-buttonList__column
        +button('Normal', 'c-button--accent')
        +button('Hover', 'c-button--accent c-button--hover')
        +button('Active', 'c-button--accent c-button--active')
        +button('Disable', 'c-button--accent c-button--disable')
        +button('Focused', 'c-button--accent c-button--focus')
      .c-buttonList__column
        +button('Normal', 'c-button--default')
        +button('Hover', 'c-button--default c-button--hover')
        +button('Active', 'c-button--default c-button--active')
        +button('Disable', 'c-button--default c-button--disable')
        +button('Focused', 'c-button--default c-button--focus')
    include components/document-list/index
  
block body_end
  script(type="text/javascript" src="/js/script.js")
