$main-color: #568dc9;
$link-color: $main-color;
$border-color: #e1e1e1;

/*********************
Медиа-points
*********************/
$a1:                  500px;
$a2:                  620px;

$b:                   780px; // mobile view
$c:                   1025px;
$d:                   1250px;

$e1:                  1700px;

$p1:                  630px, 1000px;


/*********************
width for center blocks
*********************/
$max-width:           1000px;
