.c-componentPreview {
  &__linkWrap {
    a {
      color: $link-color;
      font-size: 20px;
    }
    padding-bottom: 5px;
  } 
  &__imageWrap {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
