include ./_mixin
include ../button/_mixin

- var doc1 = {'name':'nameddd_of_document','date':'08/08/2014','image':'http://via.placeholder.com/46x62'}
- var doc2 = {'name':'name_of_document','date':'08/08/2014','image':'http://via.placeholder.com/46x62'}
- var doc3 = {'name':'name_of_document','date':'08/08/2014','image':'http://via.placeholder.com/46x62'}
- var documents = [doc1, doc2, doc3]
+documentList(documents)
