@import "../../sass/vars";
@import "../../sass/includes/media";

.c-header {
  padding-top: 40px;
  @include ab() {
    padding-top: 20px;
  }
  &__columnList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__column {
    &:nth-child(1) {
      width: 90px; 
    }
    &:nth-child(2) {
      flex-grow: 10;
      padding-left: 208px;
      padding-right: 20px;
      text-align: center;
      @include ab() {
        padding-left: 0;
        padding-right: 0;
        order: 3;
        padding-top: 20px;
        width: 100%;
      }
    }
    &:nth-child(3) {
      width: 100px; 
      @include ab() {
        order: 2;
      }
    }
  }
  &__logo {
    display: inline-block;
    img {
      width: 90px;
    }
  }
  nav {
    display: inline-block;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding-right: 60px;
        display: inline-block;
        &:last-child {
          padding-right: 0;
        }
        @include ab() {
          padding-right: 20px;
        }
        a {
          text-decoration: none;
          color: #8a8a8a;
        }
      }
    }
  }
  &--index {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    nav {
      ul {
        li {
          a {
            color: white;
          } 
        }
      }
    }
    .c-header {
      &__logo {
        display: none;
      }
      &__column {
        &:nth-child(2) {
          @include ab() {
            padding-top: 40px;
          }
        }
      }
    }
  }
}

