include ../button/_mixin

mixin hero()
  .c-hero
    .inner
      .c-hero__columnList
        .c-hero__column
          .c-hero__logo
            .c-hero__logoImg(style="background-image: url('/img/design/logo-white.png')")
          a(class='c-button c-button--hero', href='https://github.com/y4t6/pdf-awesome-components/archive/master.zip') DOWNLOAD SOURCE
          a(class='c-hero__githubLink' href='https://github.com/y4t6/pdf-awesome-components') SEE ON GITHUB
        .c-hero__column(style="background-image: url('/img/content/ipad-hero.png')")
            

             
