@import "../../sass/vars";

.c-hero {
  background-color: $main-color;
  &__columnList {
    display: flex;
    flex-direction: row;
  }
  &__column {
    &:nth-child(1) {
      padding-top: 46px;
      padding-bottom: 150px; 
      padding-right: 160px;
      display: flex;
      flex-direction: column;
    }
    &:nth-child(2) {
      flex-grow: 10;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom right;
    }
  }
  &__logo {
    width: 360px;
    margin-bottom: 85px;
  }
  &__logoImg {
    padding-bottom: 45%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__githubLink {
    color: white;
    text-decoration: none;
    margin-top: 30px;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 2px;
  }
}
